In [ ]:
!pip install billboard.py

Collecting billboard.py
  Downloading billboard.py-7.0.0-py2.py3-none-any.whl (7.0 kB)
Requirement already satisfied: beautifulsoup4>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from billboard.py) (4.6.3)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from billboard.py) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->billboard.py) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->billboard.py) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->billboard.py) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->billboard.py) (1.24.3)
Installing collected packages: billboard.py
Successfully installed billboard.py-7.0.0

In [ ]:
import billboard as bb

In [ ]:
#Retrieving the Billboard Charts from the start of every month from 1980-2020
song_list = []
jan = '-01-01'
feb = '-02-01'
mar = '-03-01'
apr = '-04-01'
may = '-05-01'
jun = '-06-01'
jul = '-07-01'
aug = '-08-01'
sep = '-09-01'
oct = '-10-01'
nov = '-11-01'
dec = '-02-01'
for year in range(1980,2021):
  date_format = str(year)

  song1 = bb.ChartData(name= "hot-100", date= date_format + jan, fetch=True, timeout=60)
  song2 = bb.ChartData(name= "hot-100", date= date_format + feb, fetch=True, timeout=60)
  song3 = bb.ChartData(name= "hot-100", date= date_format + mar, fetch=True, timeout=60)
  song4 = bb.ChartData(name= "hot-100", date= date_format + apr, fetch=True, timeout=60)
  song5 = bb.ChartData(name= "hot-100", date= date_format + may, fetch=True, timeout=60)
  song6 = bb.ChartData(name= "hot-100", date= date_format + jun, fetch=True, timeout=60)
  song7 = bb.ChartData(name= "hot-100", date= date_format + jul, fetch=True, timeout=60)
  song8 = bb.ChartData(name= "hot-100", date= date_format + aug, fetch=True, timeout=60)
  song9 = bb.ChartData(name= "hot-100", date= date_format + sep, fetch=True, timeout=60)
  song10 = bb.ChartData(name= "hot-100", date= date_format + oct, fetch=True, timeout=60)
  song11 = bb.ChartData(name= "hot-100", date= date_format + nov, fetch=True, timeout=60)
  song12 = bb.ChartData(name= "hot-100", date= date_format + dec, fetch=True, timeout=60)

  song_list.append(song1)
  song_list.append(song2)
  song_list.append(song3)
  song_list.append(song4)
  song_list.append(song5)
  song_list.append(song6)
  song_list.append(song7)
  song_list.append(song8)
  song_list.append(song9)
  song_list.append(song10)
  song_list.append(song11)
  song_list.append(song12)

In [ ]:
#Creating a dictionary containing the artist, song title, the rank on the billboard chart, and the data
song_dict = dict()
songs = []
for song in song_list:
    for track in song:
        track_dictionary = {"title": track.title,"artist": track.artist,"rank":track.rank, "date": song.date}
        songs.append(track_dictionary)

In [ ]:
print(len(songs))

100

In [ ]:
songs[1]

{'artist': 'Jack Harlow',
 'date': '2022-04-30',
 'rank': 2,
 'title': 'First Class'}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(songs)

In [ ]:
df.head(16)

                      title                         artist  rank        date
0                 As It Was                   Harry Styles     1  2022-04-30
1               First Class                    Jack Harlow     2  2022-04-30
2                Heat Waves                  Glass Animals     3  2022-04-30
3                Big Energy                          Latto     4  2022-04-30
4                     Enemy          Imagine Dragons X JID     5  2022-04-30
5                      Stay  The Kid LAROI & Justin Bieber     6  2022-04-30
6         Don't Think Jesus                  Morgan Wallen     7  2022-04-30
7                     Woman                       Doja Cat     8  2022-04-30
8             Super Gremlin                    Kodak Black     9  2022-04-30
9                     Ghost                  Justin Bieber    10  2022-04-30
10        Thats What I Want                      Lil Nas X    11  2022-04-30
11               Bad Habits                     Ed Sheeran    12  2022-04-30
12                  abcdefu                          GAYLE    13  2022-04-30
13                  Shivers                     Ed Sheeran    14  2022-04-30
14  Cold Heart (PNAU Remix)          Elton John & Dua Lipa    15  2022-04-30
15               Easy On Me                          Adele    16  2022-04-30

In [ ]:
df.shape

(49200, 4)

In [ ]:
df.to_excel('BillBoard_API_Song_Retrieval_FEB_LargeData.xlsx', header = True)

In [ ]:
duplicate = df[df.duplicated(['title', 'artist'])].count()
  
print("Duplicate Rows based on Name and Age :", duplicate)

Duplicate Rows based on Name and Age : title     35391
artist    35391
rank      35391
date      35391
dtype: int64

In [ ]:
new_df = df.drop_duplicates(subset=['title', 'artist'], keep=False)
new_df.shape

(2620, 4)

In [ ]:
#getting songs for most recent billboard for comparison to twitter data
song_list = []
song_recent = bb.ChartData(name= "hot-100", date='2022-04-26', fetch=True, timeout=60)
song_list.append(song_recent)

In [ ]:
song_dict = dict()
songs = []
for song in song_list:
    for track in song:
        track_dictionary = {"title": track.title,"artist": track.artist,"rank":track.rank, "date": song.date}
        songs.append(track_dictionary)

In [ ]:
df = pd.DataFrame(songs)

In [ ]:
df.to_csv('Billboard_Chart_30_04.csv', header=True)