In [ ]:
import pandas as pd

In [ ]:
#very large dataset loaded in from kaggle where 15000 songs will be sampled from
df = pd.read_csv('/content/tracks_features.csv')

In [ ]:
df.head()

                       id                   name  ...    year release_date
0  7lmeHLHBe4nmXzuXc0HDjk                Testify  ...  1999.0   1999-11-02
1  1wsRitfRRtWyEapl0q22o8        Guerrilla Radio  ...  1999.0   1999-11-02
2  1hR0fIFK2qRG3f3RF70pb7       Calm Like a Bomb  ...  1999.0   1999-11-02
3  2lbASgTSoDO7MTuLAXlTW0              Mic Check  ...  1999.0   1999-11-02
4  1MQTmpYOZ6fcMQc56Hdo7T  Sleep Now In the Fire  ...  1999.0   1999-11-02

[5 rows x 24 columns]

In [ ]:
df.shape

(429542, 24)

In [ ]:
df.isnull().sum()

id                  0
name                0
album               0
album_id            0
artists             0
artist_ids          0
track_number        0
disc_number         0
explicit            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    1
liveness            1
valence             1
tempo               1
duration_ms         1
time_signature      1
year                1
release_date        1
dtype: int64

In [ ]:
df_clean = df.dropna()
df_clean.isnull().sum()

id                  0
name                0
album               0
album_id            0
artists             0
artist_ids          0
track_number        0
disc_number         0
explicit            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
duration_ms         0
time_signature      0
year                0
release_date        0
dtype: int64

In [ ]:
!pip install --upgrade xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 6.4 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:
df_clean.head(20)

                        id                    name  ...    year release_date
0   7lmeHLHBe4nmXzuXc0HDjk                 Testify  ...  1999.0   1999-11-02
1   1wsRitfRRtWyEapl0q22o8         Guerrilla Radio  ...  1999.0   1999-11-02
2   1hR0fIFK2qRG3f3RF70pb7        Calm Like a Bomb  ...  1999.0   1999-11-02
3   2lbASgTSoDO7MTuLAXlTW0               Mic Check  ...  1999.0   1999-11-02
4   1MQTmpYOZ6fcMQc56Hdo7T   Sleep Now In the Fire  ...  1999.0   1999-11-02
5   2LXPNLSMAauNJfnC58lSqY    Born of a Broken Man  ...  1999.0   1999-11-02
6   3moeHk8eIajvUEzVocXukf          Born As Ghosts  ...  1999.0   1999-11-02
7   4llunZfVXv3NvUzXVB3VVL                   Maria  ...  1999.0   1999-11-02
8   21Mq0NzFoVRvOmLTOnJjng  Voice of the Voiceless  ...  1999.0   1999-11-02
9   6s2FgJbnnMwFTpWJZzvb6z    New Millennium Homes  ...  1999.0   1999-11-02
10  7o2Razxnl33Jrgz4PpMYNa       Ashes In the Fall  ...  1999.0   1999-11-02
11  3Hxu3Ey1TV9mZ5XqMXckiS     War Within a Breath  ...  1999.0   1999-11-02
12  6ZU9RJIZ0fNaFuQM57bDIA               Bombtrack  ...  1992.0   1992-11-03
13  3FUS56gKr9mVBmzvlnodlh     Killing In the Name  ...  1992.0   1992-11-03
14  3tTL7jlSkowXidYeafFtwG     Take the Power Back  ...  1992.0   1992-11-03
15  2vuDdXqekkDCSdawJyUpT6      Settle for Nothing  ...  1992.0   1992-11-03
16  11cxKUEgnVAlesUKt4e3br      Bullet In the Head  ...  1992.0   1992-11-03
17  1IDAJagxB9AQjjYXaiDK1j         Know Your Enemy  ...  1992.0   1992-11-03
18  6zbHSDJjgrNdfIxPyGfPBt                 Wake Up  ...  1992.0   1992-11-03
19  3YEk8mVdMI7rxtfimlUd1G        Fistful of Steel  ...  1992.0   1992-11-03

[20 rows x 24 columns]

In [ ]:
df_clean = df_clean.sample(frac = 1)

In [ ]:
df.head(20)

                        id                    name  ...    year release_date
0   7lmeHLHBe4nmXzuXc0HDjk                 Testify  ...  1999.0   1999-11-02
1   1wsRitfRRtWyEapl0q22o8         Guerrilla Radio  ...  1999.0   1999-11-02
2   1hR0fIFK2qRG3f3RF70pb7        Calm Like a Bomb  ...  1999.0   1999-11-02
3   2lbASgTSoDO7MTuLAXlTW0               Mic Check  ...  1999.0   1999-11-02
4   1MQTmpYOZ6fcMQc56Hdo7T   Sleep Now In the Fire  ...  1999.0   1999-11-02
5   2LXPNLSMAauNJfnC58lSqY    Born of a Broken Man  ...  1999.0   1999-11-02
6   3moeHk8eIajvUEzVocXukf          Born As Ghosts  ...  1999.0   1999-11-02
7   4llunZfVXv3NvUzXVB3VVL                   Maria  ...  1999.0   1999-11-02
8   21Mq0NzFoVRvOmLTOnJjng  Voice of the Voiceless  ...  1999.0   1999-11-02
9   6s2FgJbnnMwFTpWJZzvb6z    New Millennium Homes  ...  1999.0   1999-11-02
10  7o2Razxnl33Jrgz4PpMYNa       Ashes In the Fall  ...  1999.0   1999-11-02
11  3Hxu3Ey1TV9mZ5XqMXckiS     War Within a Breath  ...  1999.0   1999-11-02
12  6ZU9RJIZ0fNaFuQM57bDIA               Bombtrack  ...  1992.0   1992-11-03
13  3FUS56gKr9mVBmzvlnodlh     Killing In the Name  ...  1992.0   1992-11-03
14  3tTL7jlSkowXidYeafFtwG     Take the Power Back  ...  1992.0   1992-11-03
15  2vuDdXqekkDCSdawJyUpT6      Settle for Nothing  ...  1992.0   1992-11-03
16  11cxKUEgnVAlesUKt4e3br      Bullet In the Head  ...  1992.0   1992-11-03
17  1IDAJagxB9AQjjYXaiDK1j         Know Your Enemy  ...  1992.0   1992-11-03
18  6zbHSDJjgrNdfIxPyGfPBt                 Wake Up  ...  1992.0   1992-11-03
19  3YEk8mVdMI7rxtfimlUd1G        Fistful of Steel  ...  1992.0   1992-11-03

[20 rows x 24 columns]

In [ ]:
#taking a sample of 15000 songs
df_sample = df_clean.sample(n=15000)

In [ ]:
df_sample.head()

                            id  ... release_date
268577  6rSZmBlzTgiVT23uMgOajV  ...   2011-09-20
75705   2RFQuWycDgtjzXaNT91zVJ  ...   2000-02-25
293702  6TgoMjBrWtxjXR4A1MdTig  ...   2011-03-01
68649   5rHox2NvH4F3x3gmDZXxae  ...   2007-10-10
393807  11kIn0Tsvv5FbzLWlsMWoS  ...   2010-04-01

[5 rows x 24 columns]

In [ ]:
df_sample.rename(columns={'id': 'Song_ID', 'name':'Song_Name', 'artists': 'Artists', 'release_date': 'Release_Date'}, inplace = True)
df_sample.head()

                       Song_ID  ... Release_Date
268577  6rSZmBlzTgiVT23uMgOajV  ...   2011-09-20
75705   2RFQuWycDgtjzXaNT91zVJ  ...   2000-02-25
293702  6TgoMjBrWtxjXR4A1MdTig  ...   2011-03-01
68649   5rHox2NvH4F3x3gmDZXxae  ...   2007-10-10
393807  11kIn0Tsvv5FbzLWlsMWoS  ...   2010-04-01

[5 rows x 24 columns]

In [ ]:
del df_sample['explicit']
del df_sample['time_signature']
del df_sample['year']
df_sample.head()

                       Song_ID  ... Release_Date
268577  6rSZmBlzTgiVT23uMgOajV  ...   2011-09-20
75705   2RFQuWycDgtjzXaNT91zVJ  ...   2000-02-25
293702  6TgoMjBrWtxjXR4A1MdTig  ...   2011-03-01
68649   5rHox2NvH4F3x3gmDZXxae  ...   2007-10-10
393807  11kIn0Tsvv5FbzLWlsMWoS  ...   2010-04-01

[5 rows x 18 columns]

In [ ]:
del df_sample['album']
df_sample.head()

                       Song_ID  ... Release_Date
268577  6rSZmBlzTgiVT23uMgOajV  ...   2011-09-20
75705   2RFQuWycDgtjzXaNT91zVJ  ...   2000-02-25
293702  6TgoMjBrWtxjXR4A1MdTig  ...   2011-03-01
68649   5rHox2NvH4F3x3gmDZXxae  ...   2007-10-10
393807  11kIn0Tsvv5FbzLWlsMWoS  ...   2010-04-01

[5 rows x 16 columns]

In [ ]:
#loading in our Hit Song data so as to merge together and create DF for ML portion of research
bill_df = pd.read_excel('/content/BillBoard_API_spotify_with_Features_LargeDF.xls')

In [ ]:
bill_df.head()

   0                              1  ...    tempo  duration_ms
0  0                Please Don't Go  ...   96.307       230533
1  1  Escape (The Pina Colada Song)  ...  138.714       276493
2  2                  Rock With You  ...  114.031       220627
3  3             Send One Your Love  ...   72.841       242333
4  4    Do That To Me One More Time  ...   90.262       256667

[5 rows x 18 columns]

In [ ]:
bill_df.rename(columns={1: 'Song_Name', 2:'Artists', 4: 'Release_Date', 5: 'Song_ID'}, inplace = True)

In [ ]:
bill_df.head()

   0                      Song_Name  ...    tempo  duration_ms
0  0                Please Don't Go  ...   96.307       230533
1  1  Escape (The Pina Colada Song)  ...  138.714       276493
2  2                  Rock With You  ...  114.031       220627
3  3             Send One Your Love  ...   72.841       242333
4  4    Do That To Me One More Time  ...   90.262       256667

[5 rows x 18 columns]

In [ ]:
del bill_df[0]
del bill_df[3]
bill_df.head()

                       Song_Name  ... duration_ms
0                Please Don't Go  ...      230533
1  Escape (The Pina Colada Song)  ...      276493
2                  Rock With You  ...      220627
3             Send One Your Love  ...      242333
4    Do That To Me One More Time  ...      256667

[5 rows x 16 columns]

In [ ]:
bill_df.shape

(10241, 16)

In [ ]:
bill_df['Hit_Song'] = 1
bill_df.head(20)

                           Song_Name  ... Hit_Song
0                    Please Don't Go  ...        1
1      Escape (The Pina Colada Song)  ...        1
2                      Rock With You  ...        1
3                 Send One Your Love  ...        1
4        Do That To Me One More Time  ...        1
5                               Babe  ...        1
6                              Still  ...        1
7               Coward Of The County  ...        1
8                       Ladies Night  ...        1
9              We Don't Talk Anymore  ...        1
10                       Cool Change  ...        1
11                          Cruisin'  ...        1
12                      The Long Run  ...        1
13                        Head Games  ...        1
14             Better Love Next Time  ...        1
15                              Jane  ...        1
16             I Wanna Be Your Lover  ...        1
17                        This Is It  ...        1
18                I Want You Tonight  ...        1
19  No More Tears (Enough Is Enough)  ...        1

[20 rows x 17 columns]

In [ ]:
df_sample.shape

(15000, 16)

In [ ]:
df_sample['Hit_Song'] = 0
df_sample.head(20)

                       Song_ID  ... Hit_Song
268577  6rSZmBlzTgiVT23uMgOajV  ...        0
75705   2RFQuWycDgtjzXaNT91zVJ  ...        0
293702  6TgoMjBrWtxjXR4A1MdTig  ...        0
68649   5rHox2NvH4F3x3gmDZXxae  ...        0
393807  11kIn0Tsvv5FbzLWlsMWoS  ...        0
146605  2gcvwDflL01EdgJrQlBFV6  ...        0
327983  6RXSOqyR29UzP0ENr8AZOv  ...        0
314805  3tVc3DQ8nIaFCF9UN9vIfK  ...        0
207578  02IYnjve7T3xT8aYnuWhKg  ...        0
89457   57fuwpDEfVCQA0D27ICy78  ...        0
41265   0qft8lJScEDDRH1oFqLPB0  ...        0
402085  3wpU46gsWz2dhsh8wYXTxz  ...        0
414752  5H3YlI9cQlSicS7xZMwHhb  ...        0
50094   1NX2tiWE7RImgWQv8dJp3C  ...        0
312920  4gfTdWymCrRg9WwwLlLea1  ...        0
274398  2Kt6PHilKDjgwgtcFRfx3M  ...        0
139994  5Zrp3pzSnKf1di80dkSnYp  ...        0
50784   4c3bGtiP0Q8bUOQQzcvtyT  ...        0
376390  7DDgOpfz8u4gCuoMRcd0R1  ...        0
288459  29NpeBTUpxby05WkUgqsgK  ...        0

[20 rows x 17 columns]

In [ ]:
#joining dataframes
frames = [bill_df, df_sample]
df_final_large = pd.concat(frames)

In [ ]:
df_final_large.shape

(25241, 17)

In [ ]:
df_final_large['Song_ID'].is_unique

False

In [ ]:
duplicateRows = df_final_large[df_final_large.duplicated(['Song_ID'])]
print(duplicateRows)

                                           Song_Name  ... Hit_Song
705                      You Could Have Been With Me  ...        1
1359                            Take Another Picture  ...        1
1603                                   A Little Love  ...        1
2402                                  At This Moment  ...        1
3088                        I Only Wanna Be With You  ...        1
3940                          Save The Best For Last  ...        1
4106                          I Will Be Here For You  ...        1
4153                                               7  ...        1
4425                                           Yours  ...        1
4499    C.R.E.A.M. (Cash Rules Everything Around Me)  ...        1
4583                                             You  ...        1
5269                                  Together Again  ...        1
5583                                            Life  ...        1
6301                                 One Last Breath  ...        1
6486                          Rock Wit U (Awww Baby)  ...        1
7283                           It Just Comes Natural  ...        1
7618                                All I Want To Do  ...        1
7768                              Here Comes Goodbye  ...        1
7917                                        Who Says  ...        1
7954                                            I Am  ...        1
8177                                            This  ...        1
8190                                            Baby  ...        1
9632                                           Intro  ...        1
48634                     I Will Remember You - Live  ...        0
303610                                           Dig  ...        0
123269                 Metal Health (Bang Your Head)  ...        0
235347                 MC's Act Like They Don't Know  ...        0
5131                         I Learned from the Best  ...        0
248022                               Love of a Woman  ...        0
10506                                  Seal Our Fate  ...        0
412990                               Beat of a Heart  ...        0
80384                                 State of Shock  ...        0
4577                               One Of These Days  ...        0
142601                            Calling All Angels  ...        0
305610                            American Heartbeat  ...        0
179514                               Wherever You Go  ...        0
383078                                   More & More  ...        0
135660                  Damn I Wish I Was Your Lover  ...        0
277835                                         Souls  ...        0
41286                                    My Hometown  ...        0
4608                              Angry All The Time  ...        0
1077                               Walk On the Ocean  ...        0
325112                         Treat Her Like A Lady  ...        0
35034                        Blow Me (One Last Kiss)  ...        0

[44 rows x 17 columns]

In [ ]:
#exporting
df_final_large.to_excel('Large_DataFrame_HitNonHit.xls',index=False,header=True)