In [ ]:
!pip install spotipy

Requirement already satisfied: spotipy in /usr/local/lib/python3.7/dist-packages (2.19.0)
Requirement already satisfied: six>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.15.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.26.8)
Requirement already satisfied: requests>=2.25.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.0.11)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2021.10.8)

In [ ]:
import spotipy as sp
from spotipy.oauth2 import SpotifyClientCredentials
import pandas as pd

username= 'ewalshe8'
client_id = '40f413416ae44026aea7bde00fc0f81b'
client_secret = 'dcb5157216dd45dc9fecb02b6770727a'

In [ ]:
redirecturi='http://localhost:5000'
thescope='playlist-read-private'
client_credentials_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
sp = sp.Spotify(client_credentials_manager=client_credentials_manager)

In [ ]:
!pip install --upgrade xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.8 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:
data=pd.read_excel('/content/BillBoard_API_Song_Retrieval_FEB_LargeData_RemoveDups.xlsx"',header=None)

In [ ]:
data.shape

(13810, 6)

In [ ]:
data.isnull()

           0      1      2      3      4      5
0      False  False  False  False  False  False
1      False  False  False  False  False  False
2      False  False  False  False  False  False
3      False  False  False  False  False  False
4      False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...
13805  False  False  False  False  False  False
13806  False  False  False  False  False  False
13807  False  False  False  False  False  False
13808  False  False  False  False  False  False
13809  False  False  False  False  False  False

[13810 rows x 6 columns]

In [ ]:
data.head()

     0                              1  ...     3           4
0  NaN                          title  ...  rank        date
1  0.0                Please Don't Go  ...     1  1980-01-05
2  1.0  Escape (The Pina Colada Song)  ...     2  1980-01-05
3  2.0                  Rock With You  ...     3  1980-01-05
4  3.0             Send One Your Love  ...     4  1980-01-05

[5 rows x 5 columns]

In [ ]:
data.drop(index=data.index[0], axis=0, inplace=True)

In [ ]:
data.head()

   0                              1  ...           4                       5
1  0                Please Don't Go  ...  1980-01-05  6dw6BquK0Mv72p6HpusqKN
2  1  Escape (The Pina Colada Song)  ...  1980-01-05  5IMtdHjJ1OtkxbGe4zfUxQ
3  2                  Rock With You  ...  1980-01-05  7oOOI85fVQvVnK5ynNMdW7
4  3             Send One Your Love  ...  1980-01-05  3GcHkmz4horYIEPYvdB0xF
5  4    Do That To Me One More Time  ...  1980-01-05  0m4jVVZrsv0bLkAr1uM6UG

[5 rows x 6 columns]

In [ ]:
df = data[data[1].notna()]
df.shape

(13809, 5)

In [ ]:
df.isnull()

           0      1      2      3      4
1      False  False  False  False  False
2      False  False  False  False  False
3      False  False  False  False  False
4      False  False  False  False  False
5      False  False  False  False  False
...      ...    ...    ...    ...    ...
13805  False  False  False  False  False
13806  False  False  False  False  False
13807  False  False  False  False  False
13808  False  False  False  False  False
13809  False  False  False  False  False

[13809 rows x 5 columns]

In [ ]:
# Splitting the DataFrame into 4 Dataframes to make the process quicker
df_1 = data.iloc[:3000,:]
df_2 = data.iloc[3001:6000]
df_3 = data.iloc[6001:9000]
df_4 = df.iloc[9001:,:]
df_5 = df.iloc[:10,:]

In [ ]:
df_1.shape

(3000, 5)

In [ ]:
df_2.shape

(2999, 5)

In [ ]:
df_3.shape

(2999, 5)

In [ ]:
df_4.shape

(4808, 5)

In [ ]:
# It should be noted that this could take as long as 18mins to execute
song_ids = []

for index, row in df_1.iterrows():
  try:
    results = sp.search(q='artist:' + row[2] + ' track:' + row[1], type='track')
    if len(results['tracks']['items'])!=0:
        song_ids.append(results['tracks']['items'][0]['id'])
    else:
        song_ids.append('No ID')
  except:
    print('No Joy')
df_1['Spotify_ID']= song_ids

In [ ]:
# It should be noted that this could take as long as 18mins to execute
song_ids = []

for index, row in df_2.iterrows():
  try:
    results = sp.search(q='artist:' + row[2] + ' track:' + row[1], type='track')
    if len(results['tracks']['items'])!=0:
        song_ids.append(results['tracks']['items'][0]['id'])
    else:
        song_ids.append('No ID')
  except:
    print('No Joy')
df_2['Spotify_ID']= song_ids

In [ ]:
# It should be noted that this could take as long as 18mins to execute
song_ids = []

for index, row in df_2.iterrows():
  try:
    results = sp.search(q='artist:' + row[2] + ' track:' + row[1], type='track')
    if len(results['tracks']['items'])!=0:
        song_ids.append(results['tracks']['items'][0]['id'])
    else:
        song_ids.append('No ID')
  except:
    print('No Joy')
df_2['Spotify_ID']= song_ids

In [ ]:
# It should be noted that this could take as long as 18mins to execute
song_ids = []

for index, row in df_3.iterrows():
  try:
    results = sp.search(q='artist:' + row[2] + ' track:' + row[1], type='track')
    if len(results['tracks']['items'])!=0:
        song_ids.append(results['tracks']['items'][0]['id'])
    else:
        song_ids.append('No ID')
  except:
    print('No Joy')
df_3['Spotify_ID']= song_ids

In [ ]:
# It should be noted that this could take as long as 18mins to execute
song_ids = []

for index, row in df_4.iterrows():
  try:
    results = sp.search(q='artist:' + row[2] + ' track:' + row[1], type='track')
    if len(results['tracks']['items'])!=0:
        song_ids.append(results['tracks']['items'][0]['id'])
    else:
        song_ids.append('No ID')
  except:
    print('No Joy')
df_4['Spotify_ID']= song_ids

No Joy
No Joy
No Joy

In [ ]:
# It should be noted that this could take as long as 18mins to execute
song_ids = []

for index, row in df_5.iterrows():
  try:
    results = sp.search(q='artist:' + row[2] + ' track:' + row[1], type='track')
    if len(results['tracks']['items'])!=0:
        song_ids.append(results['tracks']['items'][0]['id'])
    else:
        song_ids.append('No ID')
  except:
    print('No Joy')
df_5['Spotify_ID']= song_ids

In [ ]:
data.to_excel('BillBoard_APIs_IDs_Feb.xls',index=False,header=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

# We have now managed to get Spotify ID's for all Billboard Songs, I will now retrieve the audio features

In [ ]:
!pip install --upgrade xlrd

In [ ]:
#data_audio = pd.read_excel('BillBoard_APIs_IDs_Feb.xls',header=None)

In [ ]:
#data_audio.head()

                           0  ...                       4
0  (Just Like) Starting Over  ...  5y0YreEOnQiKFAnCrcFIXz
1        More Than I Can Say  ...  3RJ81z1sPLeWEFuCfGaCLC
2          Love On The Rocks  ...  6XNGIaXv2xljDcxQ99p65f
3                       Lady  ...  5Pj5zrq2nbKcAekH1AxbrO
4               Hungry Heart  ...  1KsI8NEeAna8ZIdojI3FiT

[5 rows x 5 columns]

In [ ]:
data.shape

(13809, 6)

In [ ]:
# Dropping the songs we couldn't get ID's for
data = data[data[5] != 'No ID']

In [ ]:
data.shape

(10241, 6)

In [ ]:
data.head()

   0                              1  ...           4                       5
1  0                Please Don't Go  ...  1980-01-05  6dw6BquK0Mv72p6HpusqKN
2  1  Escape (The Pina Colada Song)  ...  1980-01-05  5IMtdHjJ1OtkxbGe4zfUxQ
3  2                  Rock With You  ...  1980-01-05  7oOOI85fVQvVnK5ynNMdW7
4  3             Send One Your Love  ...  1980-01-05  3GcHkmz4horYIEPYvdB0xF
5  4    Do That To Me One More Time  ...  1980-01-05  0m4jVVZrsv0bLkAr1uM6UG

[5 rows x 6 columns]

In [ ]:
is_NaN = data.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = data[row_has_NaN]
print(rows_with_NaN)

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5]
Index: []

In [ ]:
#Using Spotify API to get the following audio features and if it retrieve them, append 123456
danceability = []
energy = []
key = []
loudness = []
mode = []
speechiness = []
acousticness = []
instrumentalness = []
liveness = []
valence = []
tempo = []
duration_ms = []
for i in data[5]:
  try:
    for x in sp.audio_features(tracks=[i]):
        danceability.append(x['danceability'])
        energy.append(x['energy'])
        key.append(x['key'])
        loudness.append(x['loudness'])
        mode.append(x['mode'])
        speechiness.append(x['speechiness'])
        acousticness.append(x['acousticness'])
        instrumentalness.append(x['instrumentalness'])
        liveness.append(x['liveness'])
        valence.append(x['valence'])
        tempo.append(x['tempo'])
        duration_ms.append(x['duration_ms'])
  except:
      danceability.append(123456)
      energy.append(123456)
      key.append(123456)
      loudness.append(123456)
      mode.append(123456)
      speechiness.append(123456)
      acousticness.append(123456)
      instrumentalness.append(123456)
      liveness.append(123456)
      valence.append(123456)
      tempo.append(123456)
      duration_ms.append(123456)

data['danceability']=danceability
data['energy']=energy
data['key']=key
data['loudness']=loudness
data['mode']=mode
data['speechiness']=speechiness
data['acousticness']=acousticness
data['instrumentalness']=instrumentalness
data['liveness']=liveness
data['valence']=valence
data['tempo']=tempo
data['duration_ms']=duration_ms

In [ ]:
data.head()

   0                              1  ...    tempo  duration_ms
1  0                Please Don't Go  ...   96.307       230533
2  1  Escape (The Pina Colada Song)  ...  138.714       276493
3  2                  Rock With You  ...  114.031       220627
4  3             Send One Your Love  ...   72.841       242333
5  4    Do That To Me One More Time  ...   90.262       256667

[5 rows x 18 columns]

In [ ]:
data.to_excel('BillBoard_API_spotify_with_Features_LargeDF.xls',index=False,header=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.